.product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color:#021444;
    
  }
  .arrows-para {
    text-align: center;
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    width: 198px;
  }
  
.product-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-text {
    color: #040491;
    font-size: 24px;
    font-weight: 250;
}

.input-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.input-1A {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.input-1B {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.inputstyle {
    border: 1px solid #040491;
    border-radius: 15px;
    height: 64px;
    width: 500px;
}