.productup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.productup-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color:#021444;
    padding: 15px;
    background-size: contain;
    width: 1267px;
  }
  .productup-arrow-para {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color:#fff;
    margin-right: 87px;
  }
  
.productup-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 24px;
    background-color: #e5e5e5;
}

.header-text {
    color: #040491;
    font-size: 24px;
    font-weight: 250;
    background-color: #e5e5e5;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #e5e5e5;
}

.input-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #e5e5e5;
}

.input-1A {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.input-1B {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}


.inputstyle {
    border: 1px solid #040491;
    border-radius: 15px;
    height: 64px;
    width: 500px;
}

.update-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 90px;
    /* margin-top: 40px; */
    background-color: #e5e5e5;
    padding-top: 12px;
}

.save-link {
    text-decoration: none;
    color: #0338be;
    width: 74px;
    font-weight: 400;
    font-size: 20px;
}

.save-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #0047ff;
    box-shadow: 2px 3px #0047ff;
    padding: 24px 97px 24px 97px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

