.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;


    
    
}
/* .up{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
    height: 105px;
    width: 177px;

} */

.nax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}