.navbarm{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.naxx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}